<div class="treatments-page-container">
  <div class="main-container">
  <div class="our-causes fadeIn animated">
    <div class="container">
      <h2 class="title-style-1">Our Treatments <span class="title-under"></span></h2>
      <div class="row">
        <div class="col-md-3 col-sm-6" *ngFor="let treatment of treatments">
          <div class="cause">
            <h4 class="cause-title">{{treatment.domain}}</h4>
            <div class="cause-details">
              <ol>
                <li *ngFor="let subtreatment of treatment.treatments">
                  {{subtreatment}}
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>